<div class="container">
  <h2 class="text-center">CRUD operation in Angular using WebAPI</h2>
  <div class="form-group" style="margin-top: 10px" >
    <form [formGroup]="studentForm" (ngSubmit)="onFormSubmit()">
      <div><label for="">Name</label></div>
      <div><input type="text" class="form-control" formControlName="name"></div>
      <div><label for="">Address</label></div>
      <div><input type="text" class="form-control" formControlName="address"></div>
      <div><label for="">Date of Join</label></div>
      <div><input type="date" class="form-control" formControlName="dateOfJoin"></div>
      <div style="margin-top: 10px">
        <button class="btn btn-success" type="submit" [disabled]="!studentForm.valid">Submit</button>
      </div>
    </form>
    <p *ngIf="dataSaved" class="success text-left">
      {{message}}
    </p>
  </div>
  <table class="table table-bordered" style="margin-top: 20px">
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Address</td>
      <td>DateOfJoin</td>
      <td colspan="2">Action</td>
    </tr>
    <ng-container  *ngFor="let student of students|async">
      <tr>
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.address}}</td>
        <td>{{student.dateOfJoin}}</td>
        <td>
          <button type="button" class="btn btn-info" (click)="loadStudentToEdit(student.id)">Edit</button>
          <button type="button" style="margin-left: 15px" class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button>
        </td>
      </tr>
    </ng-container>
  </table>
</div>

